/*** Start Global Properties ***/
html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  font-family: 'Cairo', sans-serif; }

*, img {
  max-width: 100%; }

img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.row {
  padding: 0;
  margin: 0; }

button {
  cursor: pointer; }

a {
  text-transform: uppercase;
  cursor: pointer;
  font-family: "Cairo", sans-serif; }
  a:hover {
    text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }
  ul .active {
    border-bottom: 2px solid #316cb3; }
    ul .active a {
      border-right: none; }
    ul .active i {
      color: #316cb3; }

/*** End Global Properties ***/
/*** Start Upper-Header ***/
.navbar {
  -webkit-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  -ms-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
  background-color: #FFF;
  opacity: .9; }
  .navbar .container-fluid .navbar-brand {
    padding: 0; }
  .navbar .container-fluid a img {
    padding: .6em; }
  .navbar .container-fluid .navbar-collapse ul li a {
    color: #888;
    font-size: .9em;
    font-family: "Cairo", sans-serif;
    font-weight: bold; }
  .navbar .container-fluid .navbar-collapse ul .s a {
    border-right: 2px solid #EEE; }

/*** End Upper-Header ***/
/*** Start Carousel ***/
.carousel {
  background: url("../images/bg-web.png"); }

.carousel-control-prev,
.carousel-control-next {
  -webkit-box-shadow: -4px 4px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -4px 4px 3px rgba(0, 0, 0, 0.2);
  -ms-shadow: -4px 4px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -4px 4px 3px rgba(0, 0, 0, 0.2);
  height: 3.5em;
  width: 3.5em;
  margin-top: 22%;
  background-color: #FFF;
  border-radius: 50%;
  margin-left: 1%;
  opacity: 1;
  transition: all .3s ease-in-out; }
  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -ms-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
  .carousel-control-prev i,
  .carousel-control-next i {
    color: #316cb3;
    padding-left: .1em; }

.carousel-control-next {
  -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  -ms-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
  margin-right: 1%; }
  .carousel-control-next:hover {
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    -ms-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }

.carousel-control-prev i {
  padding-right: .1em; }

.carousel-caption {
  top: 10%;
  color: #000;
  font-weight: bold; }
  .carousel-caption h3 {
    font-size: 3em; }

.carousel-item {
  text-align: center;
  margin-top: 12%; }
  .carousel-item h3 {
    font-size: 3.5em; }
  .carousel-item p {
    font-size: 1.25em;
    margin-bottom: 2em; }
  .carousel-item a {
    color: #FFF;
    background: #316cb3;
    padding: .5em 1em;
    margin: 1em;
    border-radius: .5em; }
  .carousel-item img {
    margin-top: 2em; }
  .carousel-item .active {
    border: 0; }

@media (max-width: 900px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none; } }
@media (max-width: 600px) {
  .carousel-item h3 {
    font-size: 2em; }
  .carousel-item p {
    font-size: .75em;
    margin-bottom: 2em; }
  .carousel-item a {
    font-size: .75em;
    padding: .25em 1.5em;
    margin: .75em;
    border-radius: .5em; }
  .carousel-item img {
    margin-top: 1em; } }
.carousel-1 .carousel-item {
  text-align: center;
  margin-top: 0; }

/*** End Carousel ***/
/*** Start Divisions ***/
.division-dep {
  padding-top: 2em;
  padding-bottom: 2em; }
  .division-dep .container .row .col-lg-6 .first-divison-dep,
  .division-dep .container .row .col-lg-6 .sec-divison-dep {
    -webkit-box-shadow: 4px 4px 3px rgba(255, 255, 255, 0.2);
    -moz-box-shadow: 4px 4px 3px rgba(255, 255, 255, 0.2);
    -ms-shadow: 4px 4px 3px rgba(255, 255, 255, 0.2);
    box-shadow: 4px 4px 3px rgba(255, 255, 255, 0.2);
    padding: 1em;
    background-color: #FFF;
    border: .5px solid #EEE;
    margin-bottom: 1em;
    margin: .75em; }
    .division-dep .container .row .col-lg-6 .first-divison-dep .row .col-lg-6 .description-photo, .division-dep .container .row .col-lg-6 .first-divison-dep .row .col-lg-9 .description-photo,
    .division-dep .container .row .col-lg-6 .sec-divison-dep .row .col-lg-6 .description-photo,
    .division-dep .container .row .col-lg-6 .sec-divison-dep .row .col-lg-9 .description-photo {
      margin-bottom: 2em; }

/*** End Divisions ***/
/*** Start NavTabs ***/
.nav-tabs {
  border: 0;
  margin: auto;
  width: 16em; }
  .nav-tabs li a {
    color: #555;
    padding: .5em 1em 1em 1em; }

/*** End Navtabs ***/
/*** Start Showup ***/
.show-up-content {
  background-color: transparent;
  padding-bottom: 2em; }
  .show-up-content h3 {
    padding: 1em .25em .25em .25em; }
  .show-up-content p {
    padding: 0 .25em 1em .25em; }
  .show-up-content .tab-content .tab-pane {
    padding-top: 4em; }
    .show-up-content .tab-content .tab-pane .row div.topics .desc-displayed {
      margin-top: 45%; }
      .show-up-content .tab-content .tab-pane .row div.topics .desc-displayed h2 {
        padding-bottom: 5%;
        font-size: 3.5em;
        font-weight: normal; }

/*** End Showup ***/
/*** Start About Us ***/
.about-us {
  padding-top: 10%; }
  .about-us h2 {
    text-transform: uppercase;
    color: #316cb3;
    font-weight: bold; }
  .about-us .row .left-about-us {
    padding: 10%; }
    .about-us .row .left-about-us img {
      -webkit-box-shadow: 0.2em 0 0.6em #999;
      -moz-box-shadow: 0.2em 0 0.6em #999;
      box-shadow: 0.2em 0 0.6em #999; }
  .about-us .row .right-about-us {
    padding-top: 20%; }
    .about-us .row .right-about-us h2 {
      color: #555;
      padding-bottom: 2%;
      text-transform: none; }
    .about-us .row .right-about-us p {
      color: #999; }

@media (max-width: 990px) {
  .about-us .row .right-about-us {
    padding: 5%; } }
/*** End About Us ***/
/*** Start Pricing ***/
.payment-part {
  padding-top: 5%;
  padding-bottom: 5%; }
  .payment-part .container .text-center h2 {
    color: #316cb3;
    text-transform: uppercase;
    font-weight: bold; }
  .payment-part .container .row .panel {
    -webkit-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    -ms-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
    border: 1px solid #316cb3;
    margin: 2em 1em 1em 1em;
    transition: all .4s ease-in-out; }
    .payment-part .container .row .panel:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      transform: scale(1.05); }
    .payment-part .container .row .panel .panel-heading {
      background-color: #316cb3; }
      .payment-part .container .row .panel .panel-heading h3 {
        color: #FFF;
        padding: 5%;
        padding: 1em;
        font-weight: bold; }
    .payment-part .container .row .panel .panel-body ul li {
      border-bottom: 1px solid #EEE;
      padding: .5em; }
    .payment-part .container .row .panel .panel-footer h3 {
      color: #8db4fb;
      padding: .5em;
      font-weight: bold; }
    .payment-part .container .row .panel .panel-footer label {
      color: #777;
      width: 100%;
      font-size: 1.25em; }
    .payment-part .container .row .panel .panel-footer button {
      margin: 1em;
      text-transform: uppercase;
      background-color: #FFF;
      border: 1px solid #316cb3;
      color: #316cb3; }
      .payment-part .container .row .panel .panel-footer button:hover {
        transform: scale(1.05);
        background-color: #316cb3;
        color: #FFF; }

/*** End Pricing ***/
/*** Start Footer ***/
.footer {
  background-color: #edeff2; }
  .footer .container-fluid .row .col-lg-10 .left-footer .row .col-lg-2 {
    padding-top: 1.75em; }
  .footer .container-fluid .row .col-lg-10 .left-footer .row .col-lg-10 ul {
    margin: 1em;
    display: inline-flex; }
    .footer .container-fluid .row .col-lg-10 .left-footer .row .col-lg-10 ul li {
      padding: 1em; }
      .footer .container-fluid .row .col-lg-10 .left-footer .row .col-lg-10 ul li a {
        font-size: .8em;
        font-weight: bold;
        color: #555; }
  .footer .container-fluid .row .col-lg-2 form {
    margin-top: 1.5em; }
    .footer .container-fluid .row .col-lg-2 form .form-control {
      font-size: .75em; }

.col-sm-12 {
  padding: 0; }

/*** End Footer ***/
.clearfix {
  content: "";
  display: table; }

button:focus {
  outline: none; }

/*# sourceMappingURL=main.css.map */
