.about-us {
    padding-top: 10%;
    h2 {
        // padding: 2%;
        text-transform: uppercase;
        color: #316cb3;
        font-weight: bold;
    }   
    .row {
        .left-about-us {
            padding: 10%;
            img {
                -webkit-box-shadow: 0.2em 0 0.6em #999;
                -moz-box-shadow: 0.2em 0 0.6em #999;
                box-shadow: 0.2em 0 0.6em #999;
            }
        }
        .right-about-us {
            padding-top: 20%;
            h2 {
                color: #555;
                padding-bottom: 2%;
                text-transform: none;
            }
            p {
                color: #999;
            }
        }
    }
}
@media (max-width:990px) {
    .about-us {
        .row {
            .right-about-us {
                padding: 5%;
            }
        } 
    }    
}