.carousel {
    // background-color: #FFF;;
    // background: url('../images/bg-web.png');
    background: url('../images/bg-web.png');
    // padding-top: 10%;
}
.carousel-control-prev,
.carousel-control-next {
    @include shadow(-4px 4px 3px rgba(0, 0, 0, .2));
    height: 3.5em;
    width: 3.5em;
    margin-top: 22%;
    background-color: $white;
    border-radius: 50%;
    margin-left: 1%;
    opacity: 1;   
    transition: all .3s ease-in-out;
    &:hover {
        @include shadow(2px 2px 2px rgba(0, 0, 0, .2));
    }  
    i {
        color: #316cb3;
        padding-left: .1em;
    }
}
.carousel-control-next {
    @include shadow(4px 4px 3px rgba(0, 0, 0, .2));
    margin-right: 1%; 
    i {
        // padding-right: .1em;
    }
    &:hover {
        @include shadow(2px 2px 2px rgba(0, 0, 0, .2));
    }  
}
.carousel-control-prev {
    i {
        padding-right: .1em;
    }
}
.carousel-inner img {
    // width: 100%;
    // height: 100%;
}
.carousel-caption {
    top: 10%;
    color: #000;
    font-weight: bold;
    h3 {
        font-size: 3em;
    }
}
.carousel-item {
    text-align: center;
    margin-top: 12%;
    h3 {
        font-size: 3.5em;
    }
    p {
        font-size: 1.25em;
        margin-bottom: 2em;
    }
    a {
        color: $white;
        background: #316cb3;
        padding: .5em 1em;
        margin: 1em;
        border-radius: .5em;
    }
    img {
        margin-top: 2em;
    }
    .active {
        border: 0;
    }
}
@media (max-width:900px) { 
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

@media (max-width:600px) {
    .carousel-item {
        h3 {
            font-size: 2em;
        }
        p {
            font-size: .75em;
            margin-bottom: 2em;
        }
        a {
            font-size: .75em;
            padding: .25em 1.5em;
            margin: .75em;
            border-radius: .5em;
        }
        img {
            margin-top: 1em;
        }
    }
}
.carousel-1 {
    .carousel-item {
        text-align: center;
        margin-top: 0;
    }
}
