.payment-part {
    padding-top: 5%;
    padding-bottom: 5%;
    .container {
        .text-center {
            h2 {
                color: #316cb3;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
        .row {
            .panel {
                @include shadow(4px 4px 3px rgba(0, 0, 0, .2));
                border: 1px solid #316cb3;
                margin: 2em 1em 1em 1em;
                transition: all .4s ease-in-out;
                &:hover {
                    -webkit-transform: scale(1.05);
                    -moz-transform: scale(1.05);
                    transform: scale(1.05);
                }
                .panel-heading {
                    background-color: #316cb3;
                    // border-radius: 1em;
                    h3 {
                        color: $white;
                        padding: 5%;
                        padding: 1em;
                        font-weight: bold;
                    }
                }
                .panel-body {
                    ul {
                        li {
                            border-bottom: 1px solid #EEE;
                            padding: .5em;
                        }
                    }
                }
                .panel-footer {
                    h3 {
                        color: #8db4fb;
                        padding: .5em;
                        font-weight: bold;
                    }
                    label {
                        color: #777;
                        width: 100%;
                        font-size: 1.25em
                    }
                    button {
                        margin: 1em;
                        text-transform: uppercase;
                        background-color: $white;
                        border: 1px solid #316cb3;
                        color: #316cb3;
                        &:hover {
                            transform: scale(1.05);
                            background-color: #316cb3;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}