.carousel {}
    // background-color: #FFF;;
    // background: url('../images/bg-web.png');
.carousel-control-prev,
.carousel-control-next {
    height: 3.5em;
    width: 3.5em;
    margin-top: 16%;
    background-color: $white;
    border-radius: 50%;
    margin-left: 1%;
    opacity: 1;
    -webkit-box-shadow: 2px 2px 2px 1px rgba(100, 120, 155, .2); 
    -moz-box-shadow: 2px 2px 2px 1px rgba(100, 120, 155, .2);    
    box-shadow: 2px 2px 2px 1px rgba(100, 120, 155, .2);       
    i {
        color: #000;
    }
}
.carousel-control-next {
    margin-right: 1%; 
}
.carousel-inner img {
    // width: 100%;
    // height: 100%;
}
.carousel-caption {
    top: 10%;
    color: #000;
    font-weight: bold;
    h3 {
        font-size: 3em;
    }
}
.carousel-item {
    text-align: center;
    margin-top: 12%;
    h3 {
        font-size: 3.5em;
    }
    p {
        font-size: 1.25em;
        margin-bottom: 2em;
    }
    a {
        color: #000;
        background: #EEE;
        padding: .25em 1em;
        margin: 1em;
        border-radius: .5em;
    }
    img {
        margin-top: 2em;
    }
    .active {
        border: 0;
    }
}
@media (max-width:900px) { 
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }
}

@media (max-width:600px) {
    .carousel-item {
        h3 {
            font-size: 2em;
        }
        p {
            font-size: .75em;
            margin-bottom: 2em;
        }
        a {
            font-size: .75em;
            padding: .25em 1.5em;
            margin: .75em;
            border-radius: .5em;
        }
        img {
            margin-top: 1em;
        }
    }
}
