.nav-tabs {
    border: 0;
    margin: auto;
    width: 16em;
    li {
        a {
            color: #555;
            padding: .5em 1em 1em 1em;
            i {
            }
        }
    }
}
@media (max-width:600px) {
    .nav-tabs {
        // margin-left: 20%;
    }
}